.nav-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: 90fr 10fr;
}

.hamburger div{
    height: 5px;
    width: 40px;
    background-color: blue;
    margin: .5rem;
    border-radius: 50px;
}

header {
    background-color: white;
}

.card-1{
    background-image: url(img/bg.jpeg);
    height: 300px;
    background-size: cover;
    position: relative;
}

.invisible{
    display: none;
}

.card-1 h1{
    padding: 2rem;
    font-size: 34px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    line-height: 2.5rem;
    position: absolute;
    bottom: 3rem;
}


.card-1 a {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    color: white;
    background-image: linear-gradient(#210F89,#391BEF);
    border-radius: 50px;
    padding:.8rem 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

header{
    position: relative;
}

.menu {
    text-align: center;
    background-color: #210F89;
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    z-index: 1;
    height: 270px;
}

.menu-animation{
    animation-name: drop;
    animation-duration: 4s;
}



.menu a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.card-2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color:#391BEF;
    padding-top: 1.5rem;
    font-size: 30px;
    padding-bottom: 1rem;
}

.card-2 h3{
    font-weight: 800;
    font-size: 20px;
    padding-top: 3rem;
}

.card-2 ul{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin-left:2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    position: relative;
    margin-bottom: 3rem;
}

.card-2 li{
    padding-top: 1rem;
}

button{
    margin: 1.5rem 0;
}


.more-info{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.circle{
    background-image: linear-gradient(#210F89,#391BEF);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
}

.circle img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
}

.team{
    background-color: #efefef;
    width: 100vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
}

.member-name{
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
}

.member-function{
    font-size: 18px;
    margin-top: .8rem;
    margin-bottom: 1rem;
    font-weight: 800;
    color: blue;
}

.team-member{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    line-height: 20px;
    padding: 0rem 2rem;
}

.team-member p{
    color: black;
    font-size: 16px;
    font-weight: 200;
    margin-top: 9px;
}

.team-member img{
    border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


footer{
    background-color: #210F89;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container-team{
    padding-top: 2rem;
}

@media (min-width: 700px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-2 ul{
        height: 16.5rem;
    }

    .container-team{
        display: flex;
        flex-wrap: wrap;
    }

    .invisible{
        display: none;
    }

    .more-info a {
        text-decoration: none;
        color: #210F89;
    }
    
    .more-info {
        padding: .5rem!important;
        position: absolute;
        bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        border: 2px solid #210F89;
    }
}

@media (min-width: 1200px){

    .card-1{
        height: 500px;
    }

    .card-1 h1{
        font-size: 50px;
        bottom: 6rem
    }
    
        .container{
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            margin-bottom: 3rem;
        }
    
        main h2{
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    
        .team h2{
            padding-top: 3rem;
        }
    
        .container-team{
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .card-1 a {
        bottom: 3rem;
    }

/* Cultural translation */


.culturalmain .info, .main-infopage .info {
    bottom: 2rem;
    text-align: center;
    padding: 0rem 2rem 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 20px;
}

.culturalmain p, .main-infopage p{
    bottom: 2rem;
    padding: 0rem 2rem 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: rgb(55, 55, 55);
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

.culturalmain img, .main-infopage img{
    display: block;
    margin-left: auto;  
    margin-right: auto;
}

.image_2{
    background-image: url(img/problemSolving.png);
 }

.image_Technical_Support {
    background-image: url(img/CAD.png);
}

 .image_Technical_Support_1 {
    background-image: url(img/materials.png);
 }

 .image_comm_1 {
    background-image: url(img/sourcing.png);
    background-position: center;
 }

.image_technical_support_2 {
    background-image: url(img/inspections.png);
    background-size: contain;
    height: 20rem;
}

.image_circum_1 {
    background-image: url(img/SupplyChain.png);
}

.image_circum_2 {
    background-image: url(img/Factory.png);
}

 .image_2,.image_comm_1 ,.image_Technical_Support, .image_Technical_Support_1{
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
 }

 .image_circum_1, .image_circum_2 {
    background-size: cover;
    height: 20rem;
    background-position: center;
 }

.image{
    background-image: url(img/rightUnderstanding.png);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.container_info img {
    width: 80%;
}


#circum_p {
    padding-bottom: 3rem;
}

@media (min-width: 700px){
    .headerImg{
        width: 100%;
    }

    main h2{
        margin-bottom: 0;
    }

   .info_cultural, .info_technical {
        background-color: #210F89;
   }

   .image_circum_1, .image_circum_2 {
    background-size: cover;
    height: 100%;
    background-position: center;
 }

   .info_technical_2 {
        background-color: #391BEF;
        color: white!important;
   }

   .info{
        padding-bottom: 2rem!important;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
   }

   .info_cultural p, .info_cultural h3, .info_technical p, .info_technical h3, .info_technical_2 p {
        color: white;
   }

   .info_cultural p, .info_2_cultural p, .info_technical p {
        font-size: 14px;
   }

   .image, .image_2 {
        background-size: cover;
   }

   .culturalmain p, .culturalmain h3, .main-infopage p, .main-infopage h3 {
        padding: .5rem 2rem;
    }

    .culturalmain h3, .main-infopage h3{
        padding-top: 2rem!important;
    }

    .container-culturalinfo, .container-infopage{
        width: 100%;
        margin-left: auto;
        margin-right: auto;     
    }

   .container_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
   }

   .container_info h3 {
        padding-top: 1rem;
   }

   .info_2_cultural {
        grid-column: 2;
   }

   .info_technical_2 {
        grid-column: 2;
   }

   .image_2 {
        grid-column: 1;
        grid-row: 1;
   }

   .image_Technical_Support_1 {
        grid-column: 1;
        grid-row: 1;
   }

   .image_circum_2 {
        grid-column: 1;
        grid-row: 1;
   }

   .info_commercial_2 {
        grid-column: 1/3;
        padding-bottom: 9rem;
        background-color: white;
   }

}

@media (min-width: 1200px) {
    .headerImg{
        width: 85%;
    }

    .info{
        width: 50%;
   }

   .header-culturalinfo h2, .title_infopage h2{
        margin-top: 0rem;
   }

   .header-culturalinfo, .title_infopage {
        background-color: white;
   }

   .info_technical_2 {
        background-color: #391BEF;
   }

   .container-culturalinfo, .container-infopage {
        width: 85%;
   }

   .culturalbody, .Technicalbody  {
        background-color: rgb(212, 212, 212);
   }

   .info_2_cultural {
        background-color: white;
   }

   .image_technical_support_2 {
    background-size: cover;
   }

   .info_technical_3 {
    padding-bottom: 3rem;
   }

   .info_technical_3, .info_circum_2 {
        background-color: white;
   }

   .image_circum_2 {
        background-position: center;
   }
}

@media (min-width: 1500px){
    .container-culturalinfo, .headerImg, .container-infopage {
        width: 70%;
    }

    .culturalnav, header {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .culturalfooter, footer {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}